@font-face {
	font-family: 'fredokaone';
	src: url('../font/fredokaone.eot');
	src: url('../font/fredokaone.eot#iefix'),
		 url('../font/fredokaone.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'leaguegothic';
	src: url('../font/leaguegothic.eot');
	src: url('../font/leaguegothic.eot#iefix'),
		 url('../font/leaguegothic.woff'),
		 url('../font/leaguegothic.ttf');
	font-weight: bold;
	font-style: normal;
}
body {
	background: #e6e2d8 url("../img/ricepaper_v3.png");
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
	font-family: 'leaguegothic';
}
h2 {
	font-size: 50px;
	color: #666;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3 {
	font-size: 30px;
	margin: 15px 0;
}

.horizontal-list { /*Para ahorrar espacio en las listas horizontales junto con .horizontal-list li {float:left;}*/
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal-list li {
		float: left;
	}

.clear { /*Para ponerlo después de los float conflictivos*/
	clear: both;
}

#navigation {
	position: fixed;
	background: #302f2d;
	left: 15px;
	bottom: 15px;
	width: 90px;
	padding: 0;
	cursor: pointer;
}
	#navigation .logo {
		width: 70px;
		height: 70px;
		padding: 10px 10px 0 10px;
	}
	#navigation .type-logo {
		margin:0;
		text-align: center;
		color: #fff;
		padding-bottom: 5px;
		letter-spacing: 0;
	}
	.menu {
		height: 0px; /* Efecto CSS más recomendable (para evitar jQuery) para slideToggle. Esto va junto al hover más adelante */
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden; /* Garantiza que no se desparrame el contenido que se sale de la caja que se ha definido, en este caso con height=0 (en algunos navegadores pasa) */
		-webkit-transition: height .3s;
		transition: height .3s;
	}
		#navigation #navigation-menu.show-menu,
		#navigation:hover .menu { /*Para hacer hover sobre #navigation y el efecto en .menu*/
			height: 288px;
		}	
		.menu a {
			padding: 15px 5px;
			border-top: solid 1px #555;
			color: #fff;
			font-size: 15px;
			text-decoration: none;
			display: block;
		}
			.menu a:hover {
				background: #222120;
			}

.header-contact {
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: solid 1px gray;
}
	.header-contact p {
		color: #6b6860;
		font-size: 16px;
		margin: 0;
		line-height: 100%; /* Toma la altura de fuente establecida, en este caso de 16px; El efecto es que quedan más juntas sin necesidad de padding */
	}

#intro,
#cover-letter,
#skills,
#resources,
#contact,
#counter,
#projects {
	margin: 0 auto;
}

/********************************
           INTRO
**********************************/

#intro {
	margin-top: 100px;
	height: 100%;
	margin-bottom: 200px;	
}
	#intro .logo {
		width: 300px;
		height: 299px;
		margin: 0 auto;
		display: block; /*Las imágenes son inline, por lo que para que funcione el margin 0-auto, el display tiene que ser block*/
	}
	.type-logo {
		font-family: 'fredokaone';
		letter-spacing: -1px;
	}
	.type-logo span {
		font-family: Arial, sans-serif;
	}
	#intro .type-logo {
		color: #15120b;
		font-size: 70px;
		text-align: center;
		margin: 20px 0;
	}
	#intro .type-logo span {
		color: #9e8756;
	}

/********************************
           COVER LETTER
**********************************/

#cover-letter {
	width: 600px;	
}

/********************************
           SKILLS
**********************************/
#skills {
	width: 960px;
}

#skills .horizontal-list li {
	width: 200px;
	height: 400px;
	padding: 0 20px;
	text-align: center;
}
	.skill-icon {
		font-size: 50px;
	}

/********************************
           RESOURCES
**********************************/
#resources {
	width: 1240px;
	margin: 0 auto 200px;
	overflow: hidden; /*para incluir todos los elementos float que están dentro de #resources. Sino, el margin-bottom 200px anterior no tiene efecto*/
}

	.resources-box {
		width: 300px;
		height: 125px;
		float: left;
		margin: 5px;
		text-decoration: none;
		color: #333;
		background: #dfd9ce;
		position: relative;
		transition: background .3s;
	}
		.resources-box:hover {
			background: #CBC1AF;
		}
		.resources-box p {
			font-size: 14px;
		}
		.resources-box h4, .resources-box p {
			text-align: right;
			margin: 10px 15px 15px 60px;		
		}
		.resources-box .resources-icon {
			font-size: 40px;
			position: absolute;
			left: 15px;
			bottom: 10px;
		}

/********************************
           PROJECTS
**********************************/
#projects {
	width: 700px;
	margin: 0 auto;
}
	.project-button {
		float: left;
		width: 300px;
		height: 50px;
		font-size: 40px;
		margin: 15px;
		padding: 10px 0;
		text-align: center;
		border: solid 1px;

	}


/*******************
 Media queries
 *********************/
@media (max-width: 1240px) { 
	#resources {
		width: 700px;
	}
}

@media (max-width: 740px) { 
	#resources {
		width: 530px;
	}
	.resources-box {
		width: 100%;
	}
}

@media (max-height: 540px) { 
	#intro {
		margin-bottom: 20px;	
	}
}
